<!--<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li *ngIf="name === 'Miguel' "><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><input type="text" [(ngModel)]="name"></li>
    </ul>
  </div>
</nav>
-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Ingresa valor:</a>
    </div>
    <ul class="nav navbar-nav">
      <li><input type="text" [(ngModel)]="name"></li>
    </ul>
  </div>
</nav>


<div class="container">
  <div class="row center-block" align='center'>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Csharp_Logo.png/245px-Csharp_Logo.png" *ngIf="name === 'c#' "> 
    <div align='center' *ngIf="name === 'Miguel' ">
      Mi nombre es Miguel
     </div><div align='center' *ngIf="name === '7' ">
      Mi número favorito es el 7
     </div>
     <img src="https://images-gmi-pmc.edge-generalmills.com/cb5f971b-4174-4022-a117-467816c28c71.jpg" *ngIf="name === 'enchiladas' "> 
  </div>
</div>
 


<!-- <input type="text" [(ngModel)]="name">
<h2 *ngIf="name === 'Miguel' ">{{name}}</h2> -->
